<!DOCTYPE html>
<html lang="no">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fox Voting Game</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>

    <nav class="navbar">
        <a href="/" class="logo">Foxa</a>
        <div class="nav-links">
            <a href="/">Hjem</a>
            <a href="/stats">Statistikk</a>
        </div>
    </nav>

    <div class="container">